<mat-card class="carriage" *ngIf="carriagesData">
  <div class="carriage-info">
    <div class="name">{{ carriagesData.name }}</div>
    <div class="seats-count">{{ carriagesData.totalSeats }} seats</div>
    <button mat-icon-button *ngIf="editable" [matMenuTriggerFor]="menu" aria-label="Settings" class="settings-button">
      <mat-icon>settings</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="onUpdate()" *ngIf="editable">
        <mat-icon>edit</mat-icon>
        <span>Update</span>
      </button>
      <button mat-menu-item (click)="onDelete()" *ngIf="editable">
        <mat-icon>delete</mat-icon>
        <span>Delete</span>
      </button>
    </mat-menu>
  </div>
  <div class="seats">
    <div class="rows-wrapper">
      <div class="row" *ngFor="let row of carriagesData.rightRows; let rowIndex = index">
        <div class="seat right" *ngFor="let seat of row" (click)="onSeatSelect(seat)" [class.selected]="isSelected(seat)">
          {{ seat }}
        </div>
      </div>
    </div>

    <div class="rows-wrapper">
      <div class="row" *ngFor="let row of carriagesData.leftRows; let rowIndex = index">
        <div class="seat left" *ngFor="let seat of row" (click)="onSeatSelect(seat)" [class.selected]="isSelected(seat)">
          {{ seat }}
        </div>
      </div>
    </div>
  </div>
</mat-card>
