.profile-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;

  .profile {
    min-width: 370px;
  }
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spacer {
  flex: 1 1 auto;
}

.profile-container {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 16px;
}

mat-form-field {
  width: 100%;
}
