<div>
  <h1 mat-dialog-title>Change Password</h1>
  <div mat-dialog-content>
    <mat-form-field appearance="fill">
      <mat-label>New Password</mat-label>
      <input matInput [formControl]="newPasswordControl" type="password" />
      <mat-error *ngIf="newPasswordControl.hasError('required')">New password is required</mat-error>
      <mat-error *ngIf="newPasswordControl.hasError('requestError')">{{
        newPasswordControl.getError('requestError')?.message
      }}</mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-button (click)="onSave()" [disabled]="newPasswordControl.invalid">Save</button>
  </div>
</div>
