<mat-card class="route-card">
  <mat-card-header>
    <mat-card-title>Route {{ routeId }} </mat-card-title>
    <div class="buttons-container">
      <button mat-icon-button matSuffix>
        <mat-icon>train</mat-icon>
      </button>
      <button mat-icon-button matSuffix (click)="editRouteEvent()">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button matSuffix (click)="deleteRoute()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-card-header>

  <mat-card-content class="route-details">
    <p>Stations:</p>
    <div class="stations">
      <div *ngFor="let station of stations; let i = index">
        {{ station.city }}
        <span *ngIf="i < stations.length - 1"> - </span>
      </div>
    </div>
    <p>Carriage Classes:</p>
    <div class="carriages">
      <div *ngFor="let carriage of carriages; let i = index">
        {{ carriage.name }}
        <span *ngIf="i < carriages.length - 1"> - </span>
      </div>
    </div>
  </mat-card-content>
</mat-card>
