<h2 mat-dialog-title>Route {{ dialogData.detailsId }}</h2>
<mat-dialog-content class="route-wrapper">
  <div class="route" *ngIf="data() && !isLoading()">
    <span>Time</span>
    <span>Station</span>
    <div class="route__stop-title">
      <span> Stop </span>
    </div>
    @for (row of tableData; track $index) {
      <div class="route__time">
        <span>
          {{ row.time.start | date: 'dd.MM H:mm' }}
        </span>
        <span>
          {{ row.time.end | date: 'dd.MM H:mm' }}
        </span>
      </div>
      <div
        class="route__station"
        [ngClass]="{
          'route__station--first': dialogData.from ? row.station.id === dialogData.from : $index === 0,
          'route__station--last': dialogData.to ? row.station.id === dialogData.to : $index === tableData.length - 1,
        }"
      >
        <div class="route__station-text">
          {{ row.station.name }}
        </div>
      </div>
      <div class="route__stop">
        <span>
          {{ row.stop }}
        </span>
      </div>
    }
  </div>
  <div class="spinner" *ngIf="isLoading()">
    <mat-spinner strokeWidth="3"> </mat-spinner>
  </div>
  <mat-error *ngIf="error()"> {{ error()?.message }} </mat-error>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
