<div class="search-form-container">
  <div class="search-train-container">
    <div class="search-trains">Search Trains</div>
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
      <div class="train-selection">
        <div class="input-container">
          <div class="from-to-group">
            <input class="input" #fromCity formControlName="fromCity" placeholder="From City" />
          </div>
          <button type="button" class="swap-button" (click)="swapLocations()">↔</button>
          <div class="from-to-group">
            <input class="input" #toCity formControlName="toCity" placeholder="To City" />
          </div>
        </div>
        <div class="date-group">
          <input id="date" formControlName="date" type="date" />
        </div>
        <div class="time-group" *ngIf="searchForm.get('date')?.value">
          <input id="time" formControlName="time" type="time" />
        </div>
        <button type="submit" class="search-button" [disabled]="!isFormValid()">Search</button>
      </div>
    </form>
  </div>
</div>
