<div class="ride-management-page">
  <button mat-button routerLink="/admin/routes"><mat-icon>arrow_back</mat-icon>Back</button>
  <div class="ride-page-header">
    <h1>Route {{ routeId }}</h1>
    <button mat-raised-button color="primary" class="create-ride-button" (click)="onCreateRide()">
      <mat-icon>add</mat-icon>Create Ride
    </button>
  </div>

  <mat-card-content>
    <ng-container *ngIf="route$ | async as route">
      <app-ride-card [routeByID]="route" (updateRide)="onUpdateRide($event)"></app-ride-card>
    </ng-container>
  </mat-card-content>

  <ng-template *ngIf="isLoading$ | async">
    <mat-spinner strokeWidth="3"></mat-spinner>
  </ng-template>
</div>
