.signup-form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .field {
    width: 300px;
  }

  .buttons-container {
    display: flex;
    flex-direction: row;
    gap: 5px;

    button {
      width: 50%;
    }
  }
}
