.signup-form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .field {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  input {
    width: 300px;
    border: 0.5px solid rgb(87, 87, 87);
    border-radius: 5px;
  }

  input.ng-invalid.ng-touched {
    border: 1px solid red;
  }
}

app-button {
  width: 100px;
}

.error {
  margin: 0;
  color: red;
  font-size: 0.8rem;
}
