<form [formGroup]="signupForm" class="signup-form">
  <mat-form-field class="field" appearance="outline">
    <mat-label for="email">Email</mat-label>
    <input type="text" id="email" matInput formControlName="email" placeholder="example@mail.com" />
    <mat-error *ngIf="email?.errors?.['required']">Please enter an email</mat-error>
    <mat-error *ngIf="email?.errors?.['pattern'] && !email?.errors?.['required']">Incorrect email</mat-error>
  </mat-form-field>
  <mat-form-field class="field" appearance="outline">
    <mat-label for="password">Password</mat-label>
    <input type="password" id="password" matInput formControlName="password" />
    <mat-error *ngIf="password?.errors?.['required']">Please enter a password</mat-error>
    <mat-error *ngIf="password?.errors?.['weakPassword'] && !password?.errors?.['required']">
      {{ password?.errors?.['weakPassword'] }}
    </mat-error>
  </mat-form-field>

  <mat-form-field class="field" appearance="outline">
    <mat-label for="repeatPassword">Repeat Password</mat-label>
    <input type="password" id="repeatPassword" matInput formControlName="repeatPassword" />
    <mat-error *ngIf="repeatPassword?.errors?.['required']">Please repeat the password</mat-error>
    <mat-error *ngIf="repeatPassword?.errors?.['mismatch'] && !repeatPassword?.errors?.['required']">
      Passwords do not match
    </mat-error>
  </mat-form-field>
  <div class="buttons-container">
    <button mat-flat-button [disabled]="!isValid" class="signup" (click)="onSubmit()">Register</button>
    <button mat-button>Sign In</button>
  </div>
</form>
