<mat-card class="ride-card" *ngFor="let ride of routeByID.schedule">
  <mat-card-title> Ride {{ ride.rideId }} </mat-card-title>
  <mat-card-content>
    <div *ngFor="let segment of ride.segments; let j = index">
      <div class="station-info">
        <ng-container *ngIf="isLoading$ | async; else stationLoaded">
          <mat-progress-bar class="progress-bar" mode="indeterminate"></mat-progress-bar>
        </ng-container>
        <ng-template #stationLoaded>
          <ng-container *ngIf="stations[j] as station">
            <p>{{ station.city }}</p>
          </ng-container>
        </ng-template>
        <div class="schedule-wrapper">
          <div *ngIf="j === 0">
            <p>Departure: {{ getDepartureTime(segment) }}</p>
          </div>
          <div *ngIf="j > 0">
            <p>Arrival: {{ getArrivalTime(ride.segments[j - 1]) }}</p>
            <p *ngIf="j < stations.length - 1">Departure: {{ getDepartureTime(segment) }}</p>
          </div>
          <button mat-icon-button color="primary" (click)="onEditTimes(j)">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
        <div class="prices-wrapper">
          <div class="prices-list">
            <p class="price-title">Price:</p>
            <p *ngFor="let price of getPrice(segment)">
              <span class="price-type">{{ price.type }}: </span>
              <span class="price-amount">{{ price.amount }} $</span>
            </p>
          </div>
          <button mat-icon-button color="primary" (click)="onEditPrices(j)">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
      </div>
      <mat-divider *ngIf="j < ride.segments.length - 1"></mat-divider>
    </div>
  </mat-card-content>
</mat-card>
