@import '../../../../styles';

.ride-card {
  padding: 10px;
  margin-bottom: 20px;
  gap: 10px;

  .mat-card-title {
    font-size: 2rem;
    font-weight: 500;
  }

  .progress-bar {
    width: 10%;
  }

  .station-info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .schedule-wrapper {
      display: flex;
      align-items: center;
      gap: 10px;

      .edit-date-inputs-container {
        display: flex;
        flex-direction: column;

        .edit-date-inputs {
          display: flex;
          gap: 5px;
        }
      }

      .date-container {
        display: flex;
        flex-direction: column-reverse;
      }
    }

    .prices-wrapper {
      display: flex;
      align-items: center;
      gap: 10px;

      .prices-list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;

        .price-title {
          font-weight: 500;
        }

        .price-type {
          color: $text-color;
          font-weight: 400;
        }
      }
    }
  }
}

.edit-button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
