.signin-container {
  display: flex;
  width: 90%;
  max-width: 400px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
  border: 0.5px solid rgb(172 168 168);
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 30px;
  gap: 10px;

  p {
    font-size: 1.5rem;
    font-weight: 800;
  }
}
