.title {
  margin: 0;
}

.order-data-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  gap: 2px;

  .order-data {
    margin: 0;

    span {
      font-weight: 800;
    }
  }
}
