<div class="search-form-container">
  <div class="search-train-container">
    <div class="search-trains">Search trains</div>
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
      <div class="train-selection">
        <div class="from-to-group">
          <label class="label" for="fromCity">From</label>
          <div class="input-container">
            <input id="fromCity" formControlName="fromCity" placeholder="Enter city name" type="text" />
          </div>
        </div>
        <div class="from-to-group">
          <label class="label" for="toCity">To</label>
          <div class="input-container">
            <input id="toCity" formControlName="toCity" placeholder="Enter city name" type="text" />
          </div>
        </div>
        <div class="date-group">
          <label class="label" for="date">Date</label>
          <input id="date" formControlName="time" type="date" />
        </div>
        <button type="submit" class="search-button">Search</button>
      </div>
    </form>
  </div>
</div>
