<div class="search-form-container">
  <div class="search-train-container">
    <div class="search-trains">Search Trains</div>
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
      <div class="train-selection">
        <div class="input-container">
          <div class="from-to-group" #fromCity></div>
          <button type="button" class="swap-button" (click)="swapLocations()">Swap</button>
          <div class="from-to-group" #toCity></div>
        </div>
        <div class="date-group">
          <label class="label" for="date">Date</label>
          <input id="date" formControlName="time" type="date" />
        </div>
        <button type="submit" class="search-button">Search</button>
      </div>
    </form>
  </div>
</div>
