@import '../../../../styles';

.admin-page {
  display: flex;
  width: 100%;
  height: 100vh;

  .tabs-wrapper {
    display: flex;
    width: 15%;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
    background-color: $background-color;
    gap: 40px;

    .tab {
      width: 100%;
      padding: 20px 0;
      color: $text-color;
      cursor: pointer;
      font-size: 1.7rem;
      text-align: center;
      transition:
        background-color 0.3s ease,
        color 0.3s ease;

      &:hover {
        border-bottom: 2px solid $active-color;
        background-color: $primary-color;
      }

      &.active-tab {
        border-bottom: 2px solid $active-color;
        background-color: $primary-color;
      }
    }
  }
}
