@import '../../../../../src/styles';

.order-card {
  display: flex;
  flex-direction: column;
  gap: 20px;

  mat-card-header {
    display: flex;
    flex-direction: column;
    border-bottom: 0.5px solid rgb(172 168 168);
    gap: 10px;

    .admin-information {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .status {
        width: 80px;
        padding: 5px;
        border: 0.5px solid $error-color;
        border-radius: 10px;
        color: $error-color;
        font-weight: 700;
        text-align: center;
      }
    }

    .order-stations {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 15px;

      .order-price {
        font-size: 1.1rem;
        font-weight: 700;
      }
    }
  }

  .order-details {
    display: flex;
    flex-direction: row;
    gap: 20px;

    .order-details__time-carriage {
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      gap: 20px;

      .order-time {
        position: relative;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;

        .time {
          font-weight: 800;
        }

        .duration {
          position: relative;
          padding: 5px;
          color: darkblue;
          font-size: 0.9rem;
          font-weight: 800;

          &::before,
          &::after {
            position: absolute;
            top: 50%;
            width: 80%;
            height: 2px;
            background-color: darkblue;
            content: '';
            transform: translateY(-50%);
          }

          &::before {
            left: -80%;
          }

          &::after {
            right: -80%;
          }

          @media screen and (width <= 500px) {
            &::before,
            &::after {
              width: 10%;
              content: '';
            }

            &::before {
              left: -10%;
            }

            &::after {
              right: -10%;
            }
          }
        }
      }

      .order-carriage {
        display: flex;
        flex-direction: column;
        gap: 5px;

        span {
          font-weight: 800;
        }
      }
    }
  }
}
