$primary-color: #213786;
$secondary-color: #4f4f4f;
$light-gray: #f7f6f8;
$middle-gray: #d4d5d6;
$font-family: 'Roboto', sans-serif;

header {
  position: relative;
  z-index: 100;
  display: flex;
  width: 100%;
  height: 80px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 40px 0 10px;
  margin-bottom: 30px;
  background: $light-gray;
  inset: 0%;

  .header-nav {
    display: flex;
    width: 1440px;
    align-items: center;
    justify-content: space-around;
    margin: auto;
  }

  .header-item {
    display: flex;
    width: 1200px;
    align-items: center;
    justify-content: space-between;
    margin: auto;
  }

  .container-nav {
    display: flex;
    width: 1200px;
    align-items: center;
    justify-content: center;
  }

  .logo {
    position: relative;
    display: flex;
    width: 50px;
    height: 50px;
  }

  .login-button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: $primary-color;
    color: white;
    cursor: pointer;
    filter: drop-shadow(2px 2px 4px rgb(47 128 237 / 25%));
    transition: background-color 0.3s ease;
  }

  .login-button:hover {
    background-color: $primary-color, 90%;
  }
}
